/**
 * Custom layout styles for "MIT Informatics Redux" theme
 *
*/
.cp-region {
	outline: 1px solid #ccc;
}
/* Header regions
* No first region
* Second and Third are 66/33
*/
.cp-region-header-first {
	outline: 1px solid #fdd;
	background: #fdd;
	width: 1%;
	min-width: 1%;
	min-height: 1em;
}
.cp-region-header-second {
	width: 65%;
}
.cp-region-header-third {
	width: 32%;
}
/* General layout regions */
/* Sidebar-first is always suppressed */
.cp-region-sidebar-first {
	width: 1%;
	min-width: 1%;
	min-height: 1em;
	outline: 1px solid #fdd;
	background: #fdd;
}
/* Main content allows for one sidebar */
#edit-layout.content-regions .cp-region-content {
	width: 73%;
	min-height: 18em;
	margin-bottom: 1em;
}
/* Front page layout overrides */
form.os_front .cp-region-sidebar-second {
	width: 1%;
	min-width: 1%;
	min-height: 1em;
	outline: 1px solid #fdd;
	background: #fdd;
}
form.os_front #edit-layout.content-regions .cp-region-content {
	width: 96%;
}
form.os_front #edit-layout.content-regions .cp-region-content-first {
	width: 24%;
	margin-right: 1%;
}
form.os_front #edit-layout.content-regions .cp-region-content-second {
	margin: 0;
	width: 50%;
}
form.os_front #edit-layout.content-regions .cp-region-content-bottom {
	width: 24%;
	margin-left: 1%;
	margin-top: 0;
	min-height: 18em;
}

.cp-region-content {
	width: 73%;
}
/* Footer regions
* No first region
* Main and Third are 66/33
*/
.cp-region-footer-first {
	outline: 1px solid #fdd;
	background: #fdd;
	width: 1%;
	min-width: 1%;
	min-height: 1em;
}
.cp-region-footer {
	width: 65%;
}
.cp-region-footer-third {
	width: 32%;
}